<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masterchengzi.travelserver.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.masterchengzi.travelserver.entity.Item" >
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_id, item_name,user_id,parent_id,type,price, content, version,creat_time, begin_time, end_time
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
    select
    <include refid="Base_Column_List" />
    from item
    <where>
      <if test="newsId != null">
        AND item_id = #{itemId}
      </if>
      <if test="itemName!= null">
        AND item_name = #{itemName}
      </if>
      <if test="parentId!= null">
        AND parent_id = #{parentId}
      </if>
      <if test="type!= null">
        AND type = #{type}
      </if>
      <if test="beginTime != null and endTime != null"  >
        <![CDATA[
				and (
				(begin_time >= #{beginTime,jdbcType=TIMESTAMP} and begin_time <= #{endTime,jdbcType=TIMESTAMP}) OR
				(begin_time <= #{beginTime,jdbcType=TIMESTAMP} and end_time >= #{endTime,jdbcType=TIMESTAMP}) OR
				(end_time >= #{beginTime,jdbcType=TIMESTAMP} and end_time <= #{endTime,jdbcType=TIMESTAMP})
				)
		]]>
      </if>
    </where>
    ORDER BY creat_time desc
  </select>
  <delete id="delete" parameterType="Map" >
    delete from item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.masterchengzi.travelserver.entity.Item" >
    insert into item (item_id, item_name,user_id,parent_id,type,price, content,version,
      creat_time, begin_time, end_time
      )
    values (#{itemId,jdbcType=INTEGER},#{itemName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},#{parentId,jdbcType=INTEGER},#{type,jdbcType=VARCHAR},#{price,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR},#{version,jdbcType=VARCHAR},
      #{creatTime,jdbcType=TIMESTAMP}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="update" parameterType="com.masterchengzi.travelserver.entity.Item" >
    update item
    <set >
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>