<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masterchengzi.travelserver.mapper.UserOperateMapper" >
  <resultMap id="BaseResultMap" type="com.masterchengzi.travelserver.entity.UserOperate" >
    <id column="open_id" property="openId" jdbcType="VARCHAR" />
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="partner_id" property="partnerId" jdbcType="VARCHAR" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, item_id,partner_id,version, evaluate, tag, create_time
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
    select
    <include refid="Base_Column_List" />
    from user_operate
    <where>
      <if test="openId != null and itemId != null">
        AND  open_id = #{openId,jdbcType=VARCHAR} and item_id = #{itemId,jdbcType=INTEGER}
      </if>
      <if test="partnerId != null">
        AND  partner_id = #{partnerId,jdbcType=VARCHAR}
      </if>
      <if test="version != null">
        AND  version = #{version,jdbcType=VARCHAR}
      </if>
      <if test="beginTime != null">
        AND create_time <![CDATA[>=]]> #{beginTime}
      </if>
      <if test="endTime != null">
        AND create_time <![CDATA[<=]]>#{endTime}
      </if>
    </where>
  </select>
  <delete id="delete" parameterType="Map" >
    delete from user_operate
    where open_id = #{openId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=INTEGER}
      and version = #{version,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.masterchengzi.travelserver.entity.UserOperate" >
    insert into user_operate (open_id, item_id, evaluate,partner_id,version
      tag, create_time)
    values (#{openId,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER}, #{evaluate,jdbcType=VARCHAR},#{partnerId,jdbcType=VARCHAR},#{version,jdbcType=VARCHAR},
      #{tag,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="update" parameterType="com.masterchengzi.travelserver.entity.UserOperate" >
    update user_operate
    <set >
      <if test="evaluate != null" >
        evaluate = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="partnerId != null" >
        partner_id = #{partnerId,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
     </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where open_id = #{userId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=INTEGER}
    and version = #{version,jdbcType=VARCHAR}
  </update>
</mapper>