<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masterchengzi.authserver.mapper.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.masterchengzi.authserver.model.UserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, role_id, create_time, create_by
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="Map" >
    select
    <include refid="Base_Column_List" />
    from user_role
    <where>
      <if test="id != null">
        AND id = #{id}
      </if>
      <if test="userId!= null">
        AND user_id = #{userId}
      </if>
    </where>
  </select>
  <delete id="delete" parameterType="Map" >
    delete from user_role
    <where>
      <if test="id != null">
        AND id = #{id}
      </if>
      <if test="userId!= null">
        AND user_id = #{userId}
      </if>
    </where>
  </delete>
  <insert id="insert" parameterType="com.masterchengzi.authserver.model.UserRole" >
    insert into user_role (id, user_id, role_id,
      create_time, create_by)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.masterchengzi.authserver.model.UserRole" >
    update user_role
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>